<table class="wb-table wb-table-center wb-w-full wb-cellspace-1 wb-cellpad-3">
    <tr class="MainMenuRow">
        <td>
            <a class="MainMenuLink" href="{{ layout.chrome.site_url }}">[{{ layout.chrome.site_name }}]</a>
            <a class="MainMenuLink" href="{{ layout.chrome.board_url }}">{{ layout.chrome.board_name }}</a>
            {% include 'partials/public_breadcrumbs.twig' with {breadcrumbs: layout.breadcrumbs} only %}
        </td>
    </tr>
</table>
<table class="wb-table wb-table-center wb-w-full wb-cellpad-0 wb-cellspace-1">
    <tr class="MainMenuRow">
        <td class="wb-w-half"><div class="VersionText wb-text-left">{{ layout.footer.stats }}</div></td>
        <td class="wb-w-half"><div class="VersionText wb-text-right">{{ layout.footer.version_label }} | &copy; {{ layout.footer.copyright_start }}-{{ layout.footer.copyright_year }} {{ layout.footer.copyright_name }}{% include 'partials/public_theme_selector.twig' %}</div></td>
    </tr>
</table>
{% include 'partials/public_theme_script.twig' %}
</td></tr></table></td></tr></table>
{% if layout.footer.debug_allowed|default(false) %}
    {% include 'partials/public_debug.twig' with {rows: layout.footer.debug_rows|default([])} only %}
{% endif %}
