{% if model.missing|default(false) %}
<table class="wb-cellpad-3 wb-cellspace-1 wb-table" style="width: 100%;">
    <tr><td class="BoardRowB">{{ model.message|default('Sorry, unknown private message ID.') }}</td></tr>
</table>
{% else %}
    {% include 'partials/pm_menu.twig' %}

    {% if model.messages|default([]) is not empty or model.errors|default([]) is not empty %}
    <table class="wb-cellpad-3 wb-cellspace-1 wb-table" style="width: 100%;">
        <tr><td class="BoardColumn">&nbsp;Report Result</td></tr>
        <tr><td class="BoardRowB">
            {% for msg in model.messages|default([]) %}&nbsp;<span class="SmallText">{{ msg }}</span><br>{% endfor %}
            {% for err in model.errors|default([]) %}&nbsp;<span class="SmallText"><b>Error:</b> {{ err }}</span><br>{% endfor %}
        </td></tr>
    </table>
    {% endif %}

    <div class="wb-pm-page">
    <table class="wb-cellspace-1 wb-cellpad-0 wb-table" style="width: 100%;"><tr><td>
        {% include 'partials/pm_folder_counts.twig' with {counts: model.counts|default({}), active: model.method|default('read') == 'sent' ? 'sent' : 'read'} only %}

        <table class="wb-pm-section-table wb-cellspace-1 wb-cellpad-0 wb-table" style="width: 100%;">
            <tr>
                <td class="BoardColumn" style="width: 90%;">&nbsp;&nbsp;<img src="{{ asset('images/settings.gif') }}" width="18" height="18" alt="" class="wb-img-middle">&nbsp;Message Settings</td>
            </tr>
            <tr>
                <td class="PrivMsgListRowA">&nbsp;&nbsp;
                    {% if model.can_reply|default(false) %}
                        <a class="PrivMsgViewLink" href="{{ model.reply_url|default('/private-messages/send/') }}">Reply To Message</a> <a class="PrivMsgViewText">|</a>
                    {% endif %}
                    <a class="PrivMsgViewLink" href="/private-messages/send/">New Message</a> <a class="PrivMsgViewText">|</a>
                    <a class="PrivMsgViewLink" href="{{ model.report_url|default('#') }}">Report This Message</a>
                </td>
            </tr>
        </table>

        <table class="wb-pm-section-table wb-pm-message-meta wb-cellspace-1 wb-cellpad-3 wb-table" style="width: 100%;">
            <tr>
                <td class="BoardColumn wb-pm-meta-label" style="width: 1px; white-space: nowrap;"><div class="wb-text-right">{{ model.name_label|default('From:') }}</div></td>
                <td class="BoardRowB" style="width: 100%;">{% include 'partials/user_name.twig' with {user: user_name_model(model.other_user_id|default(0), model.other_user_name|default('Unknown'))} only %} {% include 'partials/user_star.twig' with {star: user_star_model(0, model.other_user_id|default(0))} only %}&nbsp;</td>
            </tr>
            <tr>
                <td class="BoardColumn wb-pm-meta-label" style="width: 1px; height: 25px; white-space: nowrap;"><div class="wb-text-right">Date Sent:</div></td>
                <td class="BoardRowB" style="width: 100%;">{{ model.date_sent_display|default('') }}</td>
            </tr>
            <tr>
                <td class="BoardColumn wb-pm-meta-label" style="width: 1px; height: 25px; white-space: nowrap;"><div class="wb-text-right">Subject:</div></td>
                <td class="BoardRowB" style="width: 100%;">{{ model.title|default('') }}&nbsp;</td>
            </tr>
            <tr>
                <td class="wb-valign-top BoardColumn wb-pm-meta-label" style="width: 1px; height: 25px; white-space: nowrap;"><div class="wb-text-right">Body:</div></td>
                <td class="BoardRowB" style="width: 100%;">{% include 'partials/formatted_content.twig' with {content: pm_body_model(model.body|default(''))} only %}&nbsp;</td>
            </tr>
        </table>

        {% if model.show_report_form|default(false) %}
        <table class="wb-pm-section-table wb-cellspace-1 wb-cellpad-3 wb-table" style="width: 100%;">
            <tr>
                <td colspan="2" class="BoardColumn">&nbsp;Report Private Message</td>
            </tr>
            <tr>
                <td colspan="2" class="BoardRowB">
                    <form method="post" action="{{ model.report_form_url|default(model.report_url|default('#')) }}" style="margin:0; padding:0;">
                        {% include 'partials/csrf_field.twig' %}
                        <input type="hidden" name="action" value="report_pm">
                        <span class="SmallText">Reports are visible to moderators. Staff can review this one message and take action if needed.</span><br>
                        Reason:
                        <select name="reason_type">
                            <option value="TOS_Violation">TOS Violation</option>
                            <option value="Language">Language</option>
                            <option value="Spamming">Spamming</option>
                            <option value="Harassment">Harassment</option>
                            <option value="Personal_Attack">Personal Attack</option>
                            <option value="Threats">Threats</option>
                            <option value="Other">Other</option>
                        </select>
                        Severity: <input type="text" name="severity" value="1" size="2" maxlength="1"><br>
                        Comments:<br>
                        <textarea name="comments" rows="4" style="width:95%;"></textarea><br>
                        <input type="submit" value="Report This Private Message"> <a class="BoardRowBLink" href="/private-messages/message/{{ model.id|default(0) }}/{{ model.method|default('read') }}/">Cancel</a>
                    </form>
                </td>
            </tr>
        </table>
        {% endif %}
    </td></tr></table>
    </div>
{% endif %}
